<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ProAddins.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <ProAddins.Settings>
            <setting name="ParcelURL" serializeAs="String">
                <value>https://beacon.schneidercorp.com/Application.aspx?AppID=74&amp;LayerID=590&amp;PageTypeID=4&amp;PageID=504&amp;KeyValue={0}</value>
            </setting>
            <setting name="ParcelLayer" serializeAs="String">
                <value>Parcel Boundaries</value>
            </setting>
            <setting name="ParcelIDField" serializeAs="String">
                <value>PARCELID</value>
            </setting>
            <setting name="ViewerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </ProAddins.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
